.contacts{
	max-width: 1047px;
	margin: 0 auto;
	padding: 80px 0;
	&__title{
		display: flex;
		align-items: center;
		div{
			width: 21px;
			height: 21px;
			border-radius: 50%;
			background-color: #A20B02;
		}
		h3{
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 600;
			font-size: 25px;
			line-height: 30px;
			margin-left: 13px;
		}
	}
	&__itemWrap{
		margin-top: 30px;
		margin-bottom: 70px;
		max-width: 978px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	&__info{
		padding: 34px 65px;
		width: 475px;
		height: 368px;
		background-color: #FFFFFF;
		border-radius: 19px;
		h6{
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 500;
			font-size: 25px;
			line-height: 30px;
			margin-bottom: 40px;
		}
		p{
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 500;
			font-size: 25px;
			line-height: 30px;
			margin-bottom: 40px;
			margin-top: 40px;
		}
	}
	&__tel{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 30px;
		color: #000;
		margin-bottom: 40px;
	}
	&__reviews{
		padding: 34px 65px;
		width: 475px;
		height: 368px;
		background-color: #FFFFFF;
		border-radius: 19px;	
		display: flex;
		flex-direction: column;
		align-items: center;
		h6{
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
		}
	}
	&__socials{
		display: flex;
		align-items: center;
		column-gap: 19px;
	}


	&__revName{
		width: 343px;
		height: 42px;
		background-color: #F4F4F4;
		border-radius: 9px;
		outline: none;
		border: none;
		padding: 11px;
		margin-top: 20px;
	}
	&__revEmail{
		width: 343px;
		height: 42px;
		background-color: #F4F4F4;
		border-radius: 9px;
		outline: none;
		border: none;
		padding: 11px;
		margin-top: 20px;
	}
	&__revText{
		width: 343px;
		height: 81px;
		background-color: #F4F4F4;
		border-radius: 9px;
		outline: none;
		border: none;
		padding: 11px;
		margin-top: 20px;
		resize: none;
	}
	&__btn{
		width: 265px;
		height: 42px;
		background: #525252;
		border-radius: 26px;
		color: #fff;
		outline: none;
		border: none;
		cursor: pointer;
		margin-top: 21px;
	}

	&__requisites {
		margin-top: 30px;
		max-width: 978px;
		background: #FFFFFF;
		border-radius: 19px;
		padding: 38px 47px;
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		p{
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
		}
	}
}


.salat{
	position: absolute;
	width: 288px;
	height: 385px;
	right: 0;
	top: 335px;
	z-index: -5;
}
.pomidor{
	position: absolute;
	width: 165px;
	height: 165px;
	right: 0;
	top: 528px;
	z-index: -3;
}
.chese{
	position: absolute;
	width: 434px;
	height: 361px;
	left: 0;
	top: 973px;
	z-index: -3;
}