.authWrap{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 150px 0;
}

.auth{
	width: 400px;
	//height: 403px;
	background-color: #FFFFFF;
	border-radius: 19px;
	padding: 50px 43px;
	div{
		display: flex;
		align-items: center;
		column-gap: 10px;
	}
	&__title{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 22px;
		line-height: 27px;
	}
	&__revEmail{
		width: 315px;
		height: 55px;
		border: 1px solid #B9B9B9;
		border-radius: 9px;
		outline: none;
		padding: 11px;
		margin-top: 33px;
	}
	&__revPass{
		width: 315px;
		height: 55px;
		border: 1px solid #B9B9B9;
		border-radius: 9px;
		outline: none;
		padding: 11px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	&__revPhone{
		display: none;
		width: 100%;
		height: 40px;
		border: 1px solid #B9B9B9;
		border-radius: 9px;
		outline: none;
		padding: 11px;
		margin-top: 15px;
	}
	a{
		color: #0D64C9;
	}
	&__btnEnter{
		width: 144px;
		height: 43px;
		background-color: #3E3E3E;
		border: 1px solid #3E3E3E;
		border-radius: 7px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #fff;
		cursor: pointer;
		transition: all 0.2s;
	}
	&__btnEnter:hover{
		background-color: #fff;
		color: #3E3E3E;
	}
	&__btnReg{
		width: 144px;
		height: 43px;
		background-color: #fff;
		border: 1px solid #fff;
		border-radius: 7px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color:  #575757;
		cursor: pointer;
		transition: all 0.2s;
	}
	&__btnReg:hover{
		border: 1px solid #575757;
	}
	&__btnWrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 23px;
	}
}


.salat{
	position: absolute;
	width: 340px;
	height: 368px;
	right: 0;
	top: 439px;
	z-index: -5;
}
.pomidor{
	position: absolute;
	width: 235px;
	height: 190px;
	right: 0;
	top: 395px;
	z-index: -3;
}
.chese{
	position: absolute;
	width: 242px;
	height: 201px;
	left: 0;
	top: 610px;
	z-index: -3;
}

.passVisible{
	position: relative;
	&__img{
		cursor: pointer;
		position: absolute;
		top: 35px;
		right: 15px;
	}
}






@media(max-width: 480px){
	.passVisible{
		&__img{
			top: 28px;
		}
	}
	.auth{
		width: 100%;
		height: 403px;
		padding: 30px 23px;
		&__title{
			font-size: 18px;
			line-height: 20px;
		}
		&__revPhone{
			display: block;
		}
		&__revEmail{
			width: 100%;
			height: 40px;
		}
		&__revPass{
			width: 100%;
			height: 40px;
		}
		&__btnEnter{
			height: 35px;
		}
		&__btnReg{
			height: 35px;
		}
	}
	.chese{
		display: none;
	}
}