.authWrap{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 150px 0;
}

.auth{
	width: 400px;
	height: 403px;
	background-color: #FFFFFF;
	border-radius: 19px;
	padding: 50px 43px;
	div{
		display: flex;
		align-items: center;
		column-gap: 10px;
	}
	&__title{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 22px;
		line-height: 27px;
	}
}


.salat{
	position: absolute;
	width: 340px;
	height: 368px;
	right: -30px;
	top: 439px;
	z-index: -5;
}
.pomidor{
	position: absolute;
	width: 235px;
	height: 190px;
	right: -100px;
	top: 395px;
	z-index: -3;
}
.chese{
	position: absolute;
	width: 242px;
	height: 201px;
	left: 0;
	top: 610px;
	z-index: -3;
}