.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -15px;
	&__text{
		text-transform: uppercase;
		margin-left: 2px;
		color: white;
		font-size: 32px;
		font-weight: 600;
	}
}


@media(max-width: 800px){
	.logo{
		&__img {
			width: 82px;
			height: 82px;
		}
		&__text{
			font-size: 20px;
			line-height: 24px;
		}
	}
}

@media(max-width: 650px){
	.logo{
		&__img {
			width: 52px;
			height: 52px;
		}
		&__text{
			font-size: 12.8514px;
			line-height: 16px;
		}
	}
}
@media(max-width: 376px){
	.logo{
		&__img {
			width: 41px;
			height: 41px;
		}
		&__text{
			font-size: 10.0377px;
			line-height: 12px;
		}
	}
}