	.header{
		width: 100%;
		height: 100px;
		background-color: #A20B02;
		color: #fff;
		&__wrapper{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 3px;
		}
		&__sity{
			margin-top: 5px;
			margin-left: 20px;
			font-size: 18px;
			line-height: 22px;
			font-weight: 500;
		}
		&__logoWrap{
			display: flex;
			align-items: center;
		}
		&__select{
			background-color: #A20B02;
			border: none;
			outline: none;
			color: #fff;
			font-size: 18px;
			cursor: pointer;
		}

		&__nav{
			font-size: 18px;
			display: flex;
			align-items: center;
			column-gap: 23px;
		}
		&__nav a{
			color: #fff;
			padding: 5px 0;
			transition: all 0.2s;
		}
		&__nav a:hover{
			color: rgb(214, 206, 206);
		}


		&__navIcon{
			display: flex;
			column-gap: 20px;
		}
		&__navIcon img{
			cursor: pointer;
		}
		&__navWrap{
			display: flex;
			align-items: center;
			column-gap: 20px;
		}

		&__busket{
			position: relative;
		}
		&__busCount{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: #fff;
			color: #000;
			position: absolute;
			right: -6px;
			top: -5px;
			font-size: 12px;
			font-weight: 600;
		}

		&__delivery{
			font-weight: 600;
		}
		&__phone{
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
		}
	}
.burgerBtn{
	background-color: transparent;
	display: none;
	flex-direction: column;
	align-items: center;
	row-gap: 8px;
	cursor: pointer;
	div{
		width:38px;
		height: 3px;
		background-color: #fff;
		border-radius: 2px;
	}
}
.burgerMenu{
	position: absolute;
	left: 0;
	top: 0;
	width: 320px;
	height: 400px;
	background-color: #fff;
	color: #000;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	&__wrap{
		margin-left: 16px;
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}
	&__delivery{
		font-weight: 600;
	}
	&__phone{
		font-weight: 600;
		font-size: 26.0241px;
		line-height: 31px;
		color: #A20B02;
	}
	&__some{
		color:#000;
	}
	&__sity{
		font-weight: 500;
	}
	&__select{
		cursor: pointer;
		outline: none;
		border: none;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
	}

	&__closeWrap{
		display: flex;
		justify-content: end;
		margin-right: 10px;
	}
	&__close{
		width: 24px;
		height: 24px;
		cursor: pointer;
	}
	
	&__close::before,
	&__close::after {
		content: '';
		position: absolute;
		top: 20px;
		display: block;
		width: 24px;
		height: 3px;
		background: #000;
	}
	
	&__close::before {
		transform: rotate(45deg);
	}
	
	&__close::after {
		transform: rotate(-45deg);
	}

}
.userIcon{
	width: 25px;
	height: 33px;
}
.basketIcon{
	width: 33px;
	height: 33px;
}
.off{
	display: none;
}




@media(max-width: 1400px){
	.header{

		&__sity{
			margin-top: 5px;
			margin-left: 20px;
			font-size: 16px;
			line-height: 19px;
		}

		&__select{
			line-height: 19px;
			font-size: 16px;
		}

		&__nav{
			line-height: 19px;
			font-size: 16px;
		}

		&__navWrap{
			column-gap: 19px;
		}

	}
}



@media(max-width: 1150px){
	.header__nav,
	.header__sity{
		display: none;
	}
	.burgerBtn{
		display: flex;
	}
}


@media(max-width: 650px){
	.header{
		height: 64px;
	}
	.userIcon{
		width: 15px;
		height: 21px;
	}
	.basketIcon{
		width: 21px;
		height: 21px;
	}
	.burgerBtn{
		row-gap: 5px;
		div{
			width: 24px;
			height: 2px;
		}
	}
}

@media(max-width: 376px){
	.header{
		height: 50px;
	}
	.userIcon{
		width: 12.5px;
		height: 16.5px;
	}
	.basketIcon{
		width: 16.5px;
		height: 16.5px;
	}
	.burgerBtn{
		row-gap: 5px;
		div{
			width: 19px;
			height: 1.5px;
		}
	}
}