.footer{
	width: 100%;
	min-height: 249px;
	background-color: #3D3D3D;
	padding-bottom: 30px;

	&__wrapper{
		width: 100%;
		display: flex;
		padding-top: 25px;
		flex-wrap: wrap;
		column-gap: 20px;
	}

	&__contWrap{
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 20px;
	}
	&__contacts{
		margin-left: 15px;
		display: flex;
		align-items: center;
		column-gap: 25px;
	}
	&__phoneWrap{
		display: flex;
		align-items: center;
		column-gap: 6px;
		color: #D7D7D7;
	}

	&__info,
	&__docs{
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		margin-top: 34px;
	}
	&__info a,
	&__docs a{
		color: #fff;
	}
	&__info{
		margin-left: 178px;
	}
	&__docs{
		margin-left: 199px;
	}
}






@media(max-width: 1150px){	
	.footer{
		&__wrapper{
			justify-content: space-between;
		}
		&__info{
			margin-left: 0;
		}
		&__docs{
			margin-left: 0;
		}	

	}
}

@media(max-width: 745px){	
	.footer__contWrap{
		align-items: start;
		width: 100%;
	}
	.footer__contacts{
		margin-left: 0;
	}
}

@media(max-width: 500px){
	.off{
		display: none;
	}
	.footer__docs{
		margin-top: 20px;
	}
}