.basketItem{
	width: 100%;
	padding: 30px 10px;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	border-bottom: 1px solid #E8E8E8;
	position: relative;
	&__Wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__additions{
		margin-left: 67px;
		display: flex;
		flex-direction: column;
		color: #008960;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		span{
			color: #777777;
		}
	}
	&__title{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		margin-right: 30px;
	}
	&__price{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 25px;
		line-height: 30px;
	}
	&__info{
		display: flex;
		align-items: center;
		column-gap: 35px;
		row-gap: 15px;
		flex-wrap: wrap;
	}
	&__infoDetails{
		display: flex;
		align-items: center;
		column-gap: 27px;
	}
}
.closeItem{
	position: absolute;
	right: 0;
	top: 0;
	padding: 4px;
	cursor: pointer;
	color:#585858;
}
.burgerImg{
	width: 70px;
	height: 71px;
	margin-right: 10px;
}

.count{
	border: 1px solid rgba(106, 106, 106, 0.75);
	border-radius: 134px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	width: 96px;
	height: 39px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
}
.countDown,
.countUp{
	cursor: pointer;
}
.editBtn{
	width: 17px;
	height: 17px;
	cursor: pointer;
}




@media(max-width: 750px){
	.basketItem{
		padding: 20px 10px;
		&__info{
			row-gap: 5px;
		}
	}
	.count{
		border-radius: 95px;
		font-size: 12.8825px;
		line-height: 16px;
		width: 68px;
		height: 27px;
		padding: 5px 9px;
		margin-top: 10px;
	}
	.basketItem__title{
		margin-right: 10px;
	}
	.burgerImg{
		margin-top: 0;
		margin-right: 30px;
	}
}


@media(max-width: 480px){
	.count{
		border-radius: 95px;
		font-size: 12.8825px;
		line-height: 16px;
		width: 53px;
		height: 21px;
		padding: 5px 9px;
		margin-top: 10px;
	}
	.basketItem{
		padding: 20px 10px;
		&__title{
			font-size: 16px;
			line-height: 20px;
		}
		&__price{
			font-size: 16px;
			line-height: 20px;
		}
	}
	.burgerImg{
		width: 61px;
		height: 61px;
	}
}



