.moreItem{
	width: 167px;
	height: 132px;
	background-color: #F6EBDD;
	border-radius: 19px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	img{
		margin-bottom: -10px;
	}
	div{
		width: 88px;
		height: 20px;
		background-color: #FFFFFF;
		border-radius: 20px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		margin-top: 8px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 10px;
	}
	span{
		//margin-top: -10px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
	}
}

.countDown,
.countUp{
	cursor: pointer;
}