.delivery{
	max-width: 1047px;
	margin: 0 auto;
	padding: 80px 0;
	&__title{
		display: flex;
		align-items: center;
		div{
			width: 21px;
			height: 21px;
			border-radius: 50%;
			background-color: #A20B02;
		}
		h3{
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 600;
			font-size: 25px;
			line-height: 30px;
			margin-left: 13px;
		}
	}
	&__order{
		width: 100%;
		background-color: #FFFFFF;
		border-radius: 19px;
		padding: 27px 58px;
		margin-top: 36px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 54px;
		h6{
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
		}
		ul{
			margin-top: 8px;
			display: flex;
			flex-direction: column;
			row-gap: 7px;
			margin-bottom: 40px;
			li{
				margin-left: 10px;
				position: relative;
			}
			li::before{
				content: " . ";
				position: absolute;
				left: -10px;
				top: -5px;
			};
		}
	}
	&__orderName{
		margin-bottom: 40px;
	}

	&__orderZona{
		width: 100%;
		background-color: #FFFFFF;
		border-radius: 19px;
		padding: 27px 58px;
		margin-top: 36px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 54px;
		p{
			margin-top: 8px;
		}
	}
}
.middleText{
	font-weight: 500;
}
.bottomText{
	font-weight: 500;
	margin-top: 8px;
}
.payText{
	margin-top: 8px;
	margin-bottom: 40px;
}

.greenZona{
	color: #00930F;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	margin-left: 13px;
	margin-left: 0;
}
.redZona{
	color: #7D0000;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	margin-left: 13px;
	margin-left: 0;
	margin-top: 30px;
}
.blackZona{
	color: #000;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	margin-left: 13px;
	margin-left: 0;
	margin-top: 30px;
}
.country{
	color: #000;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	margin-left: 13px;
	margin-left: 0;
	margin-top: 30px;
}

.maps{
	border-radius: 19px; 
	margin-top: 40px;
}

.minPomidor{
	position: absolute;
	left: 0;
	top: 2000px;
	z-index: -3;
}
.salat{
	position: absolute;
	right: 0;
	top: 493px;
	z-index: -3;
}